<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Your photos</h1>

      <%= file_field_tag :files, multiple: true, class: 'js-file-upload hidden' %>

      <button class="btn btn-success js-upload">
        Upload
      </button>

      <div class="js-upload-progress hidden">
        <div class="js-progress-title">
        </div>
        <div class="progress">
          <div class="progress-bar js-progress" role="progressbar" style="width: 60%;">
          </div>
        </div>
      </div>

      <div class="usage">
        You have used <%= Megabytes.megabytes(@photos.sum(:size)) %>
      </div>

      <div class="photos">
        <% @photos.each do |photo| %>
          <% if photo.thumbnail_url %>
            <%= link_to photo.original_url, target: '_blank' do %>
              <%= image_tag photo.thumbnail_url %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="js-current-image">
        <p>
        </p>
      </div>
      <div class="js-image-metadata">
      </div>
      <div class="js-image">
      </div>

    </div>
  </div>
</div>
